streamlit
pandas
numpy
plotly
pycaret
scipy
fpdf
scikit-learn # For r2_score
scikit-optimize # For skopt (Bayesian Optimization)
openpyxl # For Excel export
kaleido # If you want static Plotly image export